[Desktop Entry]
Comment=A monitor calibration tool

Name=Gamma

X-DocPath=kcontrol/kgamma/index.html
Exec=kcmshell4 kgamma
Icon=preferences-desktop-display-color.png
X-KDE-Keywords=KGamma, kgamma, Gamma, gamma
X-KDE-Keywords[bg]=Keywords=калибриране, гама, яркост, цвят, монитор, екран, KGamma, kgamma, Gamma, gamma
X-KDE-Keywords[cs]=KGamma, kgamma, gama
X-KDE-Keywords[de]=KGamma,kgamma,Gamma,gamma
X-KDE-Keywords[el]=KGamma, kgamma, Γάμμα, γάμμα
X-KDE-Keywords[eo]=KGamma, kgamma, Gamo, gamo
X-KDE-Keywords[ga]=KGamma, kgamma, Gamma, gamma, Gáma
X-KDE-Keywords[gl]=KGamma, kgamma, Gamma, gamma, gama
X-KDE-Keywords[he]=KGamma, kgamma, Gamma, gamma, גאמה
X-KDE-Keywords[hu]=KGamma,kgamma,gamma,gamma-korrekció
X-KDE-Keywords[it]=KGamma,gamma
X-KDE-Keywords[ja]=KGamma, kgamma, ガンマ, Gamma, gamma
X-KDE-Keywords[km]=KGamma, kgamma,ហ្គ៉ាម៉ា
X-KDE-Keywords[ko]=KGamma, kgamma, Gamma, gamma, 감마
X-KDE-Keywords[lt]=KGamma, kgamma, Gamma, gamma, gama
X-KDE-Keywords[nds]=KGamma,kgamma,Gamma,gamma
X-KDE-Keywords[ne]=केडीई गामा, केडीई गामा, गामा, गामा
X-KDE-Keywords[nl]=KGamma,kgamma,Gamma,gamma,kleurweergave
X-KDE-Keywords[nn]=KGamma,gamma
X-KDE-Keywords[pl]=KGamma, kgamma, Gamma, gamma, jasność,ciemność,rozjaśnienie
X-KDE-Keywords[pt]=KGamma, kgamma, Gama, gama
X-KDE-Keywords[pt_BR]=KGama, kgama, Gama, gama
X-KDE-Keywords[ro]=KGamma,kgamma,gama,gamma
X-KDE-Keywords[ru]=KGamma,kgamma,Gamma,gamma,гамма,монитор
X-KDE-Keywords[sl]=KGamma,kgamma,Gama,gama
X-KDE-Keywords[sr]=KGamma, kgamma, Gamma, gamma, гама
X-KDE-Keywords[sr@latin]=KGamma, kgamma, Gamma, gamma, gama
X-KDE-Keywords[ta]=கேகாமா, கேகாமா, காமா, காமா
X-KDE-Keywords[tg]=KGamma,kgamma,Gamma,gamma,гамма,монитор
X-KDE-Keywords[uk]=KGamma, kgamma, Gamma, gamma, гама, яскравість
X-KDE-Keywords[uz]=KGamma, kgamma, Гамма, гамма
X-KDE-Keywords[wa]=KGamma, kgamma, Gama, gama
X-KDE-Keywords[x-test]=xxKGamma, kgamma, Gamma, gammaxx
X-KDE-Keywords[zh_CN]=KGamma, kgamma, Gamma, gamma,伽玛
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Test-Module=true

X-KDE-Library=kcm_kgamma
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=display

Categories=Qt;KDE;Settings;X-KDE-settings-peripherals;
