[Desktop Entry]
Comment=A monitor calibration tool
Comment[ca]=Una eina de calibratge del monitor
Comment[cs]=Nástroj pro kalibraci monitoru
Comment[es]=Una herramienta de calibración de monitores
Comment[fi]=Näytön kalibrointityökalu
Comment[fr]=Outil de calibrage de moniteurs
Comment[gl]=Unha utilidade para calibrar o monitor
Comment[nl]=Gereedschap om de kleurweergave goed in te stellen
Comment[pt_BR]=Ferramenta de calibração do monitor
Comment[sk]=Nástroj na kalibráciu monitora
Comment[sl]=Orodje za umerjanje zaslonov
Comment[sv]=Ett kalibreringsverktyg för bildskärm
Comment[uk]=Засіб для калібрування монітора
Comment[x-test]=xxA monitor calibration toolxx
Comment[zh_CN]=屏幕矫正工具

Name=Gamma
Name[ca]=Gamma
Name[cs]=Gama
Name[es]=Gamma
Name[fi]=Gamma
Name[fr]=Gamma
Name[gl]=Gamma
Name[nl]=Gamma
Name[pt_BR]=Gama
Name[sk]=Gama
Name[sl]=Gama
Name[sv]=Gamma
Name[uk]=Гама
Name[x-test]=xxGammaxx
Name[zh_CN]=伽玛

X-DocPath=kcontrol/kgamma/index.html
Exec=kcmshell5 kgamma
Icon=preferences-desktop-display-color.png
X-KDE-Keywords=KGamma, kgamma, Gamma, gamma
X-KDE-Keywords[ca]=KGamma, kgamma, Gamma, gamma
X-KDE-Keywords[cs]=KGamma, kgamma, Gamma, gamma
X-KDE-Keywords[es]=KGamma, kgamma, Gamma, gamma
X-KDE-Keywords[fi]=KGamma, kgamma, Gamma, gamma
X-KDE-Keywords[fr]=KGamma, kgamma, Gamma, gamma
X-KDE-Keywords[gl]=KGamma, kgamma, Gamma, gamma
X-KDE-Keywords[nl]=KGamma, kgamma, Gamma, gamma
X-KDE-Keywords[pt_BR]=KGamma, kgamma, Gama, gama
X-KDE-Keywords[sk]=KGamma, kgamma, Gamma, gamma
X-KDE-Keywords[sl]=KGamma,kgamma,Gamma,gamma,gama
X-KDE-Keywords[sv]=KGamma, kgamma, Gamma, gamma
X-KDE-Keywords[uk]=KGamma,kgamma,Gamma,gamma,гама,рівень,контрастність,рівень контрастності
X-KDE-Keywords[x-test]=xxKGammaxx,xx kgammaxx,xx Gammaxx,xx gammaxx
X-KDE-Keywords[zh_CN]=KGamma, kgamma, Gamma, gamma,伽玛
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit

X-KDE-Test-Module=true

X-KDE-Library=kcm_kgamma
X-KDE-Init-Symbol=kgamma
X-KDE-ParentApp=kcontrol
X-KDE-Init-Phase=0

X-KDE-System-Settings-Parent-Category=display

Categories=Qt;KDE;Settings;X-KDE-settings-peripherals;
